---
# User defined CIDR used for containers
cidr: {{ cidr }}
{% set infra = groups['infra'] %}
{% set compute = groups['compute'] %}
{% set cinder = groups['cinder'] %}
{% set logger = groups['logger'] %}
{% set haproxy = groups['haproxy'] %}

# User defined Infrastructure Hosts, this should be a required group
infra_hosts:
{% for host in infra %}
  infra{{ loop.index }}:
    ip: {{ host }}
{% endfor %}

# User defined Compute Hosts, this should be a required group
compute_hosts:
{% for host in compute %}
  compute{{ loop.index }}:
    ip: {{ host }}
{% endfor %}

# User defined Cinder Hosts, this should be a required group
cinder_hosts:
{% for host in cinder %}
  cinder{{ loop.index }}:
    ip: {{ host }}
{% endfor %}

# User defined Logger Hosts, this should be a required group
log_hosts:
{% for host in logger %}
  logger{{ loop.index }}:
    ip: {{ host }}
{% endfor %}

# User defined HAProxy Hosts
{% if haproxy %}
haproxy_hosts:
{% for host in haproxy %}
  haproxy{{ loop.index }}:
    ip: {{ host }}
{% endfor %}
{% endif %}
